openapi: 3.0.3
info:
  title: MasterWood Product API
  version: 1.0.0
  description: |
    Documentacao Swagger para o endpoint consumido pelo app Barcode Reader.
    A API aceita consulta por GET ou POST no mesmo recurso `rest.php`.

servers:
  - url: https://www.mw.sisvennet.com.br
    description: Producao
  - url: http://localhost:8080
    description: Desenvolvimento local (usb-reverse / localhost)
  - url: http://10.0.2.2:8080
    description: Android emulator

paths:
  /rest.php:
    get:
      tags: [Produtos]
      summary: Consulta produto por codigo de barras
      description: |
        Busca produto no servico ProductService/getProdutos.
        O app envia os parametros em query string.
      parameters:
        - $ref: '#/components/parameters/ClassParam'
        - $ref: '#/components/parameters/MethodParam'
        - $ref: '#/components/parameters/CodigoParam'
      responses:
        '200':
          description: Produto encontrado (ou estrutura retornada pelo backend)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductLookupResponse'
              examples:
                product-array:
                  summary: Retorno como array
                  value:
                    - id: '123'
                      referencia: 'MW-001'
                      nome: 'PRANCHA PINUS'
                      especie: 'PINUS'
                      categoria: 'SERRADA'
                      unidade: 'M3'
                      estoque: '34'
                wrapped-data:
                  summary: Retorno dentro de data
                  value:
                    data:
                      - id: '123'
                        referencia: 'MW-001'
                        nome: 'PRANCHA PINUS'
                wrapped-result:
                  summary: Retorno dentro de result
                  value:
                    result:
                      id: '123'
                      referencia: 'MW-001'
                      nome: 'PRANCHA PINUS'
        '400':
          description: Parametros invalidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Requisicao negada pelo servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '405':
          description: Metodo nao permitido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    post:
      tags: [Produtos, Autenticacao]
      summary: Operacoes POST (consulta de produto e auditoria de logout)
      description: |
        O endpoint aceita operacoes por POST com
        `application/x-www-form-urlencoded`.

        1) Produto (fallback): `class=ProductService`, `method=getProdutos`, `codigo=<codigo>`
        2) Logout (auditoria): `class=AuthUserService`, `method=setLogout` e campos de auditoria.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              oneOf:
                - $ref: '#/components/schemas/ProductPostRequest'
                - $ref: '#/components/schemas/LogoutAuditRequest'
            examples:
              produto:
                summary: Consulta de produto
                value:
                  class: ProductService
                  method: getProdutos
                  codigo: '789123456'
              logout:
                summary: Auditoria de logout assinada
                value:
                  class: AuthUserService
                  method: setLogout
                  user: joao.silva
                  login: joao.silva
                  reason: manual
                  platform: android
                  logoutAt: '2026-06-09T14:10:12.232Z'
                  sigAlg: HMAC-SHA256
                  sig: 8f341d9c6f13f7f09df95d7f45f7ce9b25e0ad6b4cb1f90d12d91e2cda2e0b3a
      responses:
        '200':
          description: Produto encontrado (ou estrutura retornada pelo backend)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductLookupResponse'
        '400':
          description: Parametros invalidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Requisicao negada pelo servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '405':
          description: Metodo nao permitido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  parameters:
    ClassParam:
      name: class
      in: query
      required: true
      schema:
        type: string
        default: ProductService
      description: Classe do backend PHP
    MethodParam:
      name: method
      in: query
      required: true
      schema:
        type: string
        default: getProdutos
      description: Metodo do backend PHP
    CodigoParam:
      name: codigo
      in: query
      required: true
      schema:
        type: string
      description: Codigo de barras do produto

  schemas:
    ProductPostRequest:
      type: object
      required: [class, method, codigo]
      properties:
        class:
          type: string
          default: ProductService
        method:
          type: string
          default: getProdutos
        codigo:
          type: string
          description: Codigo de barras lido

    LogoutAuditRequest:
      type: object
      required: [class, method, user, reason, platform, logoutAt, sigAlg, sig]
      properties:
        class:
          type: string
          default: AuthUserService
        method:
          type: string
          default: setLogout
        user:
          type: string
          description: Usuario autenticado no momento do logout
        login:
          type: string
          description: Alias opcional de user para compatibilidade
        reason:
          type: string
          description: Motivo do logout (manual, timeout, etc)
        platform:
          type: string
          enum: [android, ios]
        logoutAt:
          type: string
          format: date-time
        sigAlg:
          type: string
          example: HMAC-SHA256
        sig:
          type: string
          description: Assinatura HMAC do payload enviada pelo app

    ProductLike:
      type: object
      description: |
        Estrutura comum retornada pelo backend. O app faz normalizacao de alias
        para campos como referencia/nome/especie/categoria/unidade/estoque.
      properties:
        id:
          type: string
        referencia:
          type: string
        reference:
          type: string
        nome:
          type: string
        name:
          type: string
        especie:
          type: string
        especieName:
          type: string
        categoria:
          type: string
        categoryName:
          type: string
        unidade:
          type: string
        unitType:
          type: string
        estoque:
          type: string
        stock:
          type: string
      additionalProperties: true

    ProductLookupResponse:
      oneOf:
        - type: array
          items:
            $ref: '#/components/schemas/ProductLike'
        - $ref: '#/components/schemas/ProductLike'
        - type: object
          properties:
            data:
              oneOf:
                - type: array
                  items:
                    $ref: '#/components/schemas/ProductLike'
                - $ref: '#/components/schemas/ProductLike'
            result:
              oneOf:
                - type: array
                  items:
                    $ref: '#/components/schemas/ProductLike'
                - $ref: '#/components/schemas/ProductLike'
            products:
              type: array
              items:
                $ref: '#/components/schemas/ProductLike'
            retorno:
              oneOf:
                - type: array
                  items:
                    $ref: '#/components/schemas/ProductLike'
                - $ref: '#/components/schemas/ProductLike'
          additionalProperties: true

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
      additionalProperties: true
